@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
body{
      background-image: url("");
      background-repeat:no-repeat;
      background-size:cover;
      margin:0;
}
h1{
  font-family: 'Patua One', cursive;
  text-align: center;
}

ul {
  list-style-type: none;
    background-color: #209400;
    size: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 0;
    text-shadow:  2px 2px black;
}
li {
  float: left;
  font-family: 'Patua One', cursive;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 17px 18px;
  text-decoration: none;
  font-size: 30px;
}
div.box1{

}
li a:hover {
  background-color: #111;
}
.footer{
background-color: #209400;
  margin: 0;
  padding: 0;
}
.logo{
  width: 50px;
    box-shadow: 4px 4px black;
}
.logo2{
  width: 45px;
  border-radius: 50%;
}
img{
  width: 100%;
  height:auto;
}
* {
  box-sizing: border-box;
}
.main {
  max-width: 1000px;
  margin: auto;
  position: absolute;
  left: 28%;
  top: 20%;
}
.avatar{
  border-radius: 157px;
  padding: 5px;
  border-width: 5px;
  border-color: #209400;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h3{
    font-family: 'Patua One', cursive;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
h1 {
  font-size: 50px;
  word-break: break-all;

}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  margin-left: 10%;

}
.column1 {
  float: left;
  width: 25%;
  margin-left: 20%;

}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  margin-top: 5%;
  border: 2px solid red;
   border-radius: 12px;
   padding: 5px;
   border-width: 5px;
   border-color: #209400;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
p{
  font-family: 'Patua One', cursive;
}
<footer>
<span class="">
  <p class="Numero">AndreaPreatoniGiardini</p>
  <img class="logo2" src="mani.jpg">
  <p class="p">Email: andrea.preatoni91@gmail.com</p>
  <p class="p">Tell: 3388182350</p>
</footer>
